<div class="modal" data-modal="true" id="edit_book_modal">
	<div class="modal-content max-w-[600px] top-[15%]">
		<div class="modal-header py-4 px-5">
			<h3 class="modal-title">Ma lecture</h3>
		</div>
		<div class="modal-body p-0 pb-5">
			<div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto" data-scrollable-offset="300px">
				<form>
					<div class="flex flex-col gap-5 p-5">
						<div class="flex flex-col gap-1">
							<label for="book" class="form-label font-normal text-gray-900">Livre</label>
							<select id="book" class="select" name="book">
								<option>Livre 1</option>
								<option>Livre 2</option>
							</select>
						</div>
					</div>
				</form>
				<div class="flex flex-col gap-5 p-5">
					<p>Pas Terminé dsl</p>
					{# {% block title %}
											{{ form_start(editData) }}
											{{ form_row(editData.description, {'attr': {'class': 'input border '}}) }}
					
											{{ form_row(editData.rating, {'attr': {'class': 'input border '}}) }}
											{{ form_row(editData.is_read) }}
					
											<div class="flex">
												<button type="submit" class="btn btn-primary">Enregistrer</button>
											</div>
											{{ form_end(editData) }}
										{% endblock %} #}
				</div>

			</div>
		</div>
	</div>
</div>
